.buttonCreate{
  margin-bottom: 20px;
}
.title{
  text-align: center;
}
.mat-elevation-z8{
  width: 100%;
  text-align: center;
}
.trips-container {
  /*margin-top: 25px;*/
  height: 600px;
  overflow: auto;
}
